/*  your css code here. If applicable */
.table-heading{
	text-align:center;
}
td{
	width:100px;
	height:20px;
}
.left{
	text-align:left;
	width:25vh;
}
.center{
	text-align:center;
	width:50vh;
	
}
.right{
	text-align:right;
	width:25vh;
}
.toprow{
	width:100vh;

}
.green {
	width:600px;
	background-color:green;
	
}
.blue{
	background-color:blue;
}
.img{
	height:100px;
	display:flex;
	justify-content:space-evenly;
	
}
.img-1{
	width:50vw;
	height:100px;
	
	
}