/*  your css code here. If applicable */
.table-heading{
	text-align:center;
}
.left{
	text-align:left;
	width:25vh;
}
.center{
	text-align:center;
	width:50vh;
	
}
.right{
	text-align:right;
	width:25vh;
}
.toprow{
	width:100vh;
}